apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ service_name }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: letsencrypt-dev
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - {{ dev_host }}
      secretName: {{ project_name }}-{{ service_name }}-dev-tls
  rules:
    - host: {{ dev_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ service_name }}
                port:
                  name: http
