apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: {{ image_registry }}/{{ project_name }}/prd/{{ service_name }}
  newName: {{ image_registry }}/{{ project_name }}/prd/{{ service_name }}
  newTag: latest

patches:
- path: ./deployment.yaml
- path: ./config.yaml
resources:
- ../../base
- ingress.yaml
